<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.sejoung.dao.ADao">

	<select id="selectTest" parameterType="hashmap"	resultType="com.github.sejoung.model.Test">
		SELECT first_name,last_name
		FROM people
	</select>
	
	<select id="selectTest2" parameterType="hashmap"	resultType="com.github.sejoung.model.Test">
		SELECT first_name,last_name
		FROM people limit #{_skiprows,jdbcType=INTEGER},#{_pagesize,jdbcType=INTEGER}
	</select>
</mapper>